{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Personal Phoenix">
    <meta name="description" content="Hey!">  
    <title>Just a store:></title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>

    <header>
        {% include "templates/header.html" %}
    </header>

    {% block content %}
    {% end content %}

    <div class="sidebar">
        {% include "templates/sidebar.html" %}
    </div>

    <footer>
        {% include "templates/footer.html" %}
    </footer>
    
    <script src="{% static 'js/index.css' %}"></script>

</body>
</html>